@model IEnumerable<FtAbateQuarteioHabilitacao>

@{
    ViewData["Title"] = "Entrada de produção";
}

<div class="text-center">


    <table class="table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cbd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cquarto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Csexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dmovimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Npeso)
            </th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cbd)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.Cquarto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Csexo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dmovimento)
                </td>
                <td>
                    @Model.Sum(s => s.Npeso)
                </td>
            </tr>
        }
    </table>
</div>